body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header/logo section */
/* desktop view */
.logo-menu-display{
display: flex;
flex-direction: row;    
align-items: center;
width: 100%;
justify-content: center;
gap: 1100px; 
 height: 10vh; 
background-color: white;
}

.hero-container{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    color: white;
    background-image: url('./images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
   }

/*.hero-bg{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end; 
} 
.hero-image{
    width: 70%;
    display: flex;
  } */

.text-flex{
  padding-top: 190px; 
  padding-left: 100px;
} 

.big-text{
    font-size: 60px;
    font-weight: lighter;
    padding-top: 0;
    padding-bottom: 0rem;
}

.big-text .bold-text{
    padding-top: 0;
    margin: 0;
    font-size: 110px;
    font-weight: bolder;
    width: 250%;
}

.straight-line{
    content: "";
    width: 120%;
    height: 0.7rem;
    background-color: white;
    padding-top: 0;
}

.svg-accessories{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 20px;
}

/* Tablet view */
/* header/hero section */
@media (min-width: 768px) and (max-width: 1024px) {

    .logo-menu-display{
        gap: 570px;
        justify-content: center;
        height: 9vh;
        }

  /*  .logo-menu-display  .push-back{
        padding-left: 350px;
    } */

    .hero-container{
        height: auto;
        padding: 0px;
    }

    .text-flex {
        padding-right: 100px;
        padding-bottom: 0;
        padding-top: 70px;
        padding-left: 30px;
           }
    .big-text{
        font-size: 2rem;
        font-weight: 2;
    }

    .big-text .bold-text{
        font-size: 3.5rem;
        font-weight: bold;
    }

    .svg-accessories{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .svg-icon{
      width: 40px;
      height: auto;  
    }
}

/*  Mobile */
/* header/hero section */
@media (max-width: 480px) {
    .logo-menu-display {
        gap: 25rem;
        width: 130.5%;
    }
  

    .hero-container{
        width: 130.5%;
        background-size: cover;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .text-flex {
        padding-top: 0px;
        padding-left: 150px;
        padding-bottom: 50px;
    } 
    .big-text{
        font-size: 2.5rem;
        font-weight: 2;
        width: 100%;
         }

    .big-text .bold-text{
        font-size: 3.8rem;
         font-weight: bold;
        }

        .straight-line {
            width: 105%;
            height: 0.5rem;
        }

    .svg-accessories{
        display: none;
        }
}


 /* services section */
.section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 70px;
    background-color: whitesmoke;
    width: 100%;
    height: 55vh;
}

.para-styling{
    color: gray;
    font-size: 20px;
    padding-bottom: 0rem;
}

.head-styling{
    font-size: 50px;
    padding-bottom: 0px;
    padding-top: 0rem;
}

.para-styling-2{
 font-size: 25px;
 font-weight: 5px;
 padding-top: 0;
}

.button-style{
 background-color: red;
 color: white;
 border: none;
 width: 120px;
 height: 48px;
padding: 10px; 
}

/* Tablet view */
/* section-2 services section */
@media (min-width: 768px)  and (max-width: 1024px){
    .section-2 {
        padding-top: 100px;
        height: auto;
    } 
    .para-styling{
        font-size: 0.75rem;
    }
    .head-styling {
        font-size: 1.5rem;
        font-weight: bold; 
    }
    .para-styling-2 {
        font-size: 0.8rem;
        width: 60%;
    }}

/*  Mobile */
/* section-2 services section */
@media (max-width: 480px) {
    .section-2{
        width: 130.5%;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        }

        .para-styling {
            color: gray;
            font-size: 1rem;
        }
        .head-styling{
            font-size: 2rem;
             width: 40%;
        } 
        .para-styling-2{
            width: 39%;
            font-size: 1rem;
            text-align: center;
            } 
            .button-style {
                font-size: 0.5rem;
                width: 7rem;
                height: 2.5rem;
            }


} 


/* need help section */
.section-3{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center; 
}

.handy-man1{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  /*  padding-right: 80px; */
    width: 30%;
}

.handy-man-bg{
     width: 30rem;
     height: 20rem;
}

.handy-man-para{
font-size: 18px;
padding-top: 50px;
padding-left: 40px;
margin-right: 30px;
width: 85%;
}

.handy-man2{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.help-text{
    font-size: 40px;
}

.call-text{
  font-size: 35px;
  color: red;
}


/* Tablet view */
/* section-3 need help section */
@media (min-width: 768px) and (max-width: 1024px){
    .section-3{
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        background-color: white;
    }

    .handy-man1{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        padding-right: 0;
        width: 30%;
    }

    .handy-man-bg{
        width: 32rem;
        height: auto;
         
    }
   .handy-man-para{
    padding-top: 10px;
    font-size: 0.9rem;
    width: 150%;
    }
  
    .handy-man2{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-right: 60px;
        }
        .help-text {
            font-size: 1.9rem;
            padding-left: 140px;
        }
        .call-text {
            font-size: 1.5rem;
        }
    .tab-resize{
        width: 32rem;
        height: auto;
        padding-bottom: 40px;
        padding-left: 65px;
     }   
}


/* mobile view for need help section (section 3) */
@media (max-width: 480px) {
      .section-3 {
        width: 130.5%;
        height: auto;
        flex-direction: column;
        align-items: center;
      }
      .handy-man1 {
        align-items: center;
        padding-top: 40px;
      }
      .handy-man-bg {
        width: 20rem;
        height: auto;
    }
      .handy-man-para {
            font-size: 1rem;
            padding-top: 0px;
            width: 150%;
            margin-right: 0px;
    }
      
      .handy-man2 {
        align-items: center;
      }
      .help-text {
        font-size: 1.5rem;
    }
    .call-text {
        font-size: 1.2rem;
    }
    .tab-resize{
        width: 20rem;
        height: auto;
        padding-bottom: 40px;
     }  

}



/* best quality section (section 4) */
.section-4{
    width: 100%;
    height: 100vh;
    background-color: #e5e0f5;
}

.container-4{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 5px;
padding-left: 140px;
}

.image-handyman{
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.handy-man-txt{
    padding-bottom: 120px;
    padding-left: 50px;
}

.quality{
    font-size: 65px;
    color: blue;
    font-weight: 100px;
}

.red-line{
    content: "";
    height: 10px;
    width: 60%;
    background-color: red;
}

.handy-man-parastyle{
    width: 55%;
    font-size: 20px;
}



/* Tablet view */
/* best quality section (section 4) */
@media (min-width: 768px) and (max-width: 1024px){
    .section-4 {
        height: auto;
    }
    .container-4 {
    gap: 0px;
    padding-left: 0px;
    align-items: flex-end;
    }
    .image-handyman {
        padding-left: 0px;
        width: 45%;
        height: auto;
    }
    .handy-man-txt {
        padding-bottom: 30px;
        padding-left: 0px;
    }
    .quality {
        font-size: 3.5rem;
        width: 70%;
    }
    .red-line {
        width: 75%;
        height: 5px;
    }
    .handy-man-parastyle {
        width: 80%;
        font-size: 1.2rem;
    }
    .button-style{
        width: 120px;
         height: 48px;
        padding: 10px;
        font-size: 0.5rem;
    }
}


/* mobile view */
/* best quality section (section 4) */
@media (max-width: 480px) {
     .section-4 {
        width: 130.5%;
        height: auto;
     }
     .container-4 {
        flex-direction: column;
         gap: 6rem;
         align-items: center;
         padding-left: 0px;
     }
     .image-handyman {
        padding-right: 0px;
        width: 60%;
       height: auto;
     }
     .handy-man-txt{
        padding-right: 0px;
     }
     .quality {
        font-size: 3.5rem;
        width: 50%;
     }
     .red-line{
        width: 80%;
     }
     .handy-man-parastyle{
        width: 65%;
        font-size: 1.5rem;
     }
     .button-style {
            font-size: 1rem;
            width: 10rem;
            height: 3.5rem;
    }

}


/* our services section (section 5) */
.section-5{
    width: 100%;
    height: auto;
    background-color: white;
}

.container-5-flex{
    display: flex;
    flex-direction: column;
}

.services{
    font-size: 50px;
    font-weight: 70px;
    padding-left: 70px;
}

.portfolio-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-left: 70px;
    padding-bottom: 80px;
}

.row-display1{
    display: unset;
}

/*.pad-up{
    padding-left: 190px;
} */

.portfolio-img-styling{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: red;
   padding: 1rem;
 /*   margin: 15px; */
}

/*.padd-back{
    padding-right: 180px;
} */

.portfolio-header{
  font-size: 25px;
  font-weight: 30px;
}

.portfolio-para{
    width: 75%;
    font-size: 20px;
}

/* our services section (section 5) */
/* tablet view */
@media (min-width: 768px) and (max-width: 1024px){
        .section-5 {
        height: auto;
        background-color: white;   
        }
        .container-5-flex {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
            padding-top: 20px;
        }
        .services {
            font-size: 2rem;
            padding-left: 40px;
        }

        .portfolio-display{
                justify-content: unset;
                align-items: unset;
                padding-left: 55px;
            }
            .row-display1 {
                 display: unset;
                flex-direction: unset; 
            }
        .pad-up {
            padding-left: 0px;
        }
        .padd-back {
           padding-right: 0px;
        }
        .portfolio-img-styling {
            width: 50px;
            height: auto;
            padding: 0.5rem;
        }
        .portfolio-header {
                font-size: 1rem;
                font-weight: bolder;
         } 

         .portfolio-para {
            width: 70%;
           font-size: 1.1rem;
        }
}

/* mobile view */
/*  our services section (section 5) */
@media (max-width: 480px) {
     .section-5 {
        width: 130.5%;
        height: auto;
     }
     .container-5-flex{
        padding-bottom: 70px;
     }
     .services {
        font-size: 70px;
        padding-left: 70px;
     }
     .portfolio-display {
        flex-direction: column;
        text-align: left;
        padding-left: 90px;
        padding-bottom: 0px;
    }
    .row-display1 {
        align-items: center;
    }
    .pad-up {
        padding-left: 0px;
    }
    .padd-back {
        padding-right: 0px;
    }
    .portfolio-img-styling {
        margin-right: 390px;
    }
    .portfolio-header {
        font-size: 35px;
        padding-right: 330px;
    }
    .portfolio-para {
        width: 75%;
        font-size: 25px;
    }
}




/* section 6 plumbing services section */
.section-6{
    width: 100%;
    height: 75vh;
    background-color: rgba(0, 0, 255, 0.596);
    
}

.container-6-flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    
    justify-content: center;
} 

.column-text-flex{
    width: 35%;
    padding-top: 120px;
    padding-left: 100px;
    } 

.about-text{
    color: white;
    font-size: 18px;
    font-weight: lighter;
    width: 25%;
}

.plumbing-text{
    color: white;
    font-size: 90px;
    font-weight: lighter;
    width: 30%;
    margin-top: 0;
}

.service-text{
    color: white;
    font-size: 90px;
    font-weight: bold;
    width: 30%;
    margin-top: 0;
}

 .image-flex-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-top: 55px;
    gap: 15px;
}


.img-flex{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-size{
    width: 15rem;
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/* section 6 plumbing services section (section 6) */
/* tablet view */
@media (min-width: 768px) and (max-width: 1024px){
    .section-6 {
        height: auto;
    }
    .container-6-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .column-text-flex{
        padding-top: 30px;
       padding-left: 0px;
       padding-right: 0;
       width: 70%;
    }
    .about-text {
        font-size: 0.9rem;
        width: 60%;
    }
    .plumbing-text {
        display: flex;
        gap: 10px;
        font-size: 2.5rem;
    }
    .service-text{
        font-size: 3rem;
    }
    .image-flex-container {
        padding-top: 0px;
        padding-bottom: 70px;
        width: 90%;
    }
    .img-flex{
        gap: 15px;
        padding-left: 25px;
    }
    .img-size{
        width: 20rem;
        height: auto;
    }

}

/* mobile view */
/*  section 6 plumbing services section (section 6) */
@media (max-width: 480px) {
      .section-6 {
        width: 130.5%;
        height: auto;
    }
    .container-6-flex {
        flex-direction: column;
        padding-bottom: 60px;
    }
    .column-text-flex {
        padding-top: 80px;
    }
    .about-text {
        font-size: 25px;
        width: 75%;
    }
    .image-flex-container{
        padding-top: 0px; 
        align-items: unset; 
       justify-content: unset;
       display: flex; 
        flex-direction: column; 
        gap: 40px;
    }
    .img-flex {
        flex-direction: column;
        gap: 40px;
        padding-left: 70px;
    }
    .img-size {
        width: 20rem;
        height: auto;
        padding-left: 20px;
    }


}


/* to-do section (section 7) */
.section-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: white;
}

.container-7{
    width: 50%;
    text-align: center;
}

.header-todo{
    font-size: 40px;
    font-weight: bolder;
}

.para-mission{
    font-size: 35px;
    width: 87%;
    padding-left: 50px;
}

.submit-button-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.button1{
    background-color: red;
    color: white;
    border: none;
    width: 150px;
    height: 48px;
   padding: 10px; 
}

.button2{
    background-color: white;
    border: 1px solid black;
    width: 150px;
    height: 48px;
   padding: 10px; 
}

/* section 7 to-do section */
/* tablet view */
@media (min-width: 768px) and (max-width: 1024px){
    .section-7 {
        height: auto;
       }
       .container-7 {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
          }
       .header-todo {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .para-mission {
        font-size: 1rem;
        width: 40%;
        padding-left: 230px;
    }
    .button1{
        font-size: 0.5rem;
        width: 100px;
        height: 38px;
    }
    .button2{
        font-size: 0.5rem;
        width: 100px;
        height: 38px;
    }
    
}

/* mobile view */
/*  section 7 to-do section */
@media (max-width: 480px) {
    .section-7 { 
        width: 130.5%;
        height: auto;
    }
    .container-7 {
        width: 80%;
        padding-bottom: 70px;
        padding-top: 50px;
    }
    .header-todo{
        font-size: 1.4rem;
    }
    .para-mission {
        font-size: 1rem;
        width: 60%;
        padding-left: 100px;
    }
    .submit-button-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}



/* section 8 (footer content) */
.section-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: rgb(43, 43, 44);
}

.dummy-text-style{
    color: white;
    width: 60%;
    text-align: center;
    padding-left: 190px; 
}

.builder{
    color: white;
    text-align: center;
    padding-top: 150px;
}

.builder a{
    color: rgba(230, 235, 240, 0.459);
}

/* section 8 (footer content) */
/* tablet view */
@media (min-width: 768px) and (max-width: 1024px){
      .section-8 {
        height: auto;
      }
       .dummy-text-style {
        font-size: 0.8rem;
        width: 50%;
         padding-left: 170px;
       }
       .builder {
        font-size: 25px;
       }
}

/* mobile view */
/*  section 8 (footer content) */
@media (max-width: 480px) {
    .section-8 {
        width: 130.5%;
        height: auto;
    }
    .dummy-text-style {
        padding-left: 115px;
        padding-top: 0;
    }
    .builder {
        font-size: 22px;
        padding-top: 60px;
    }


}
